#Copy this file and rename to .env in the same directory
AUTH_SECRET=Uff3rC3SOda9pgr+vVzv+mo4xPNrTD2QhEEdvMP46Jdd
NEXT_PUBLIC_API_URL=https://localhost/db
API_URL=https://localhost/db
AUTH_TRUST_HOST=https://localhost
NEXTAUTH_URL=https://localhost
