networks:
  web:
    external: true
  internal:
    external: false
    driver: bridge

services:
  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/data:/data # Optional
      - ./caddy/config:/config # Optional
    networks:
      - web
      - internal
  api:
    build:
      context: .
      args:
        PG_USER: postgres
        PG_PWD: postgres
        PG_DB: ptt_db
        PG_PORT: 5432
        PG_HOST: localhost
        SECRET_KEY: SUPER_SECRET
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./app.py:/app/app.py
      - ./app_template.jinja2:/tmp/app_template.jinja2
      - ./frontend/public/docs:/tmp/csv
      - ./backend/sql:/tmp/sql
      - ./secret.key:/app/secret.key
    ports:
      - 5432:5432
      - 3030:5000
    networks:
      - internal
    healthcheck:
      test: [ "CMD-SHELL", "test -f /tmp/csv/clinical_placement_data.csv && test -f /tmp/csv/additional_program_student_data.csv && test -f /tmp/csv/student_data.csv" ]
      interval: 5s
      timeout: 3s
      retries: 5
  app:
    build: 
      context: ./
      dockerfile: ./frontend/Dockerfile
    depends_on:
      api:
        condition: service_healthy
        restart: true
    ports:
      - 3000:3000
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./frontend/.env:/app/.env
      - ./frontend/public/docs:/app/public/docs
    networks:
      - internal

