networks:
  web:
    name: web
  internal:
    driver: bridge

services:
  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN=${DOMAIN:-localhost}
      - TLS_MODE=${TLS_MODE:-internal}
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/data:/data # Optional
      - ./caddy/config:/config # Optional
    networks:
      - web
      - internal
  api:
    build:
      context: .
      args:
        PG_USER: ${PG_USER:-postgres}
        PG_PWD: ${PG_PASSWORD:-postgres}
        PG_DB: ${PG_DB:-ptt_db}
        PG_PORT: ${PG_PORT:-5432}
        PG_HOST: localhost
        SECRET_KEY: ${SECRET_KEY:-CHANGE_ME}
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./app.py:/app/app.py
      - ./app_template.jinja2:/tmp/app_template.jinja2
      - ./frontend/public/docs:/tmp/csv
      - ./backend/sql:/tmp/sql
      - ./secret.key:/app/secret.key
      - ./postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
      - 3030:5000
    networks:
      - internal
    healthcheck:
      test: [ "CMD-SHELL", "test -f /tmp/csv/clinical_placement_data.csv && test -f /tmp/csv/additional_program_student_data.csv && test -f /tmp/csv/student_data.csv" ]
      interval: 5s
      timeout: 3s
      retries: 5
  app:
    build: 
      context: ./
      dockerfile: ./frontend/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: https://${DOMAIN}/db
    depends_on:
      api:
        condition: service_healthy
        restart: true
    ports:
      - 3000:3000
    environment:
      - AUTH_SECRET=${AUTH_SECRET}
      - NEXTAUTH_URL=https://${DOMAIN}
      - NEXT_PUBLIC_API_URL=https://${DOMAIN}/db
      - API_URL=http://api:5000
      - AUTH_TRUST_HOST=true
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./frontend/public/docs:/app/public/docs
    networks:
      - internal

